<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Hisab</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between ;">
        <h5>KHATA-BOOK</h5>
        <h5><a href="/">Home</a></h5>
    </div>
    <div>
        <h3>Create New Hisab</h3>
        <form action="/createHisab" method="post">
            <textarea name="hisab" placeholder="Write all your today's hisab here" rows="30" cols="70"></textarea>
            <br>
            <input type="submit" value="Create Hisab">
        </form>
    </div>
</body>
</html>